{% load static %}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Odinstalowano Przypis Powszechny</title>
    <link rel="stylesheet" href="{% static 'analytics.css' %}">
</head>

<body>
    <img class="pp-logo" src="{% static 'icon.png' %}" />
    <div class="main-text-container">
        <div class="clear"></div>
        <h1 class="main-text">
            Zrezygnowałeś z subskrypcji "Poproś o przypis"
        </h1>
        <div class="clear"></div>
        <h2 class="sub-text">
            Mamy nadzieję, że w przyszłości odpowiedzi na zgłoszenie będą bardziej trafione!
        </h2>
        <div class="clear"></div>
    </div>
</body>
</html>
