{% load static %}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Odinstalowano Przypis Powszechny</title>
    <link rel="stylesheet" href="{% static 'analytics.css' %}">
</head>

<body>
    <img class="pp-logo" src="{% static 'icon.png' %}" />
    <div class="main-text-container">
        <div class="clear"></div>
        <h1 class="main-text">
            Wtyczka została odinstalowana.
        </h1>
        <div class="clear"></div>
        <h2 class="sub-text">
            Dziękujemy za dotychczasowe korzystanie z wtyczki i mamy nadzieję, że kiedyś do nas wrócisz!
        </h2>
        <div class="clear"></div>
    </div>
</body>
</html>
